/*
Theme Name: Hub Child
Theme URI: http://hub.liquid-themes.com/
Author: Liquid Themes
Author URI: https://themeforest.net/user/liquidthemes
Template: hub
Description: Smart, Powerful and Unlimited Customizable WordPress Theme.
Version: 1.0
License: GNU General Public License
License URI: license.txt
Text Domain: hub-child
Tags: responsive, retina, rtl-language-support, blog, portfolio, custom-colors, live-editor
*/

/* -------------------- TYPO */
@font-face {
    font-family: 'Noto Sans Display Light';
    src: url("/wp-content/uploads/fonts/NotoSansDisplay-Light.eot") format("opentype"),
        url("/wp-content/uploads/fonts/NotoSansDisplay-Light.ttf") format("truetype"),
        url("/wp-content/uploads/fonts/NotoSansDisplay-Light.otf") format("opentype"),
        url("/wp-content/uploads/fonts/NotoSansDisplay-Light.woff") format("woff"),
        url("/wp-content/uploads/fonts/NotoSansDisplay-Light.woff2") format("woff2");
    font-style: normal;
}

.intro-slider .lqd-asym-slider h4 {
	font-family: 'Belleza', Arial, Helvetica, sans-serif;
}

.intro-title {
	text-align: center;
	font-size: 7rem;
	margin-bottom: 20px;
}

/* -------------------- INTRO PAGE */
.border-double {
    border: 3px solid #022b62;
    border-style: double;
}

.page-id-5445 header#header,
.page-id-5445 footer#footer {
    display: none;
}

.bg-gold {
    background: #b4975a;
}

/* -------------------- HEADER */
.lqd-head-sec-wrap.pos-rel {
    background: #fff;
}

.lqd-asym-slider-t.pos-rel {
    padding-bottom: 100px;
}

.col.lqd-head-col img.logo-default {
    width: 125px;
}
	
/* -------------------- PASSWORD FORM */
form.post-password-form {
    margin: 200px auto 300px;
}

form.post-password-form p {
    text-align: center;
    padding: 0 10px;
}

/* -------------------- SLIDER HOME */

.lqd-slsh-alt-menu a span:before {
    display: none;
}

.lqd-slsh-alt-menu li.is-active span {
    transform: none;
}

/* -------------------- GRAVITY FORMS */
input#gform_submit_button_1,
input#gform_submit_button_4,
input.gform_button {
    background: #022b61;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
	font-size: 16px;
}

span#input_3_12-button {
    border: 1px solid;
    padding: 10px 8px;
    background: #fff;
}

/* -------------------- CONTACT */

.lqd-contact-form input[type="submit"] {
    background: #022b62 !important;
    border-color: #022b62 !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 400 !important;
}

/* -------------------- ZUT */
.transform-icons-sidebar ul.reset-ul.inline-nav li {
    transform: rotate(180deg);
	 -webkit-transform: rotate(180deg);
  	-moz-transform: rotate(180deg);
  	-ms-transform: rotate(180deg);
  	-o-transform: rotate(180deg);
}

#cmplz-document {
    padding: 150px 0;
}

/* -------------------- RESPONSIVE */
/* -------------------- TABLET + DESKTOP */
@media screen and (max-width:749px) {
	
.margin-left-tab_desk {
	margin:10px 10px 0;
}
	
.margin-right-tab_desk {
	margin:0 10px;
}
	
}

/* -------------------- TABLET + DESKTOP */
@media screen and (min-width:750px) {

.margin-left-tab_desk {
	margin-left:10px;
	width: 47%;
}
	
.margin-right-tab_desk {
	margin-left:10px;
	width: 47%;
}
	
}

/* -------------------- MOBILE + TABLET */
@media screen and (max-width:1199px) {
	
img.logo-default {
    width: 75px;
}

}



